.qr-code-container {
  $primary-color: #2b303a;
  $secondary-color: #eee5e9;
  $tertiary-color: #7c7c7c;
  $qr-code: #7c7c7c33;
  $button-color: #92dce5;

  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #efefef;
  position: fixed;
  top: 70px;
  z-index: 1000;

  .qr-code {
    display: flex;
    border-radius: 1rem;
    background-color: $qr-code;
    width: fit-content;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
  }

  // init
  display: none;
}

#close-qr {
  outline: none;
  border: none;
  border-radius: 4px;
  margin-top: 10px;
  padding: 6px 24px;
  background: tomato;
  color: #fff;
  cursor: pointer;
  &:active {
    transform: scale(0.9);
  }
}
