@import "./common", "./qr";
.chat-input {
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 10px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 20px;
  background: #efefef;
  z-index: 100;
}

.input-holder {
  width: 100%;
  max-width: 500px;
  padding: 10px;
}

.msg-holder {
  overflow: hidden;
  width: 100%;
  max-width: 1000px;
  padding: 10px;
  margin: auto;
  left: 0;
  right: 0;
  margin-top: 100px;
  padding-bottom: 100px;
  height: auto;
}

$profile-image-size: 60px;

.msg {
  width: 100%;
  max-width: 500px;
  margin-bottom: 10px;

  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;

  .image-holder {
    width: $profile-image-size;
    height: $profile-image-size;
    border-radius: 50%;
    overflow: hidden;
    background: #efefef;
    margin: 0 10px;
    img {
      width: 100%;
    }
  }
}

.skeleton {
  .image-holder {
    background: #efefef;
  }
  img,
  .author,
  .text {
    visibility: hidden;
  }
}

.text-holder {
  background: #efefef;
  padding: 8px 20px;
  border-radius: 4px;
  max-width: 400px;
  @include mobile {
    max-width: 300px;
  }
  .author {
    color: darkgray;
    font-size: small;
  }
  .text {
    font-size: medium;
  }
}
.right {
  float: right;
  flex-direction: row-reverse;
}

nav {
  width: 100%;
  background: #efefef;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  position: fixed;
  top: 0;
  z-index: 100;
  padding: 10px 20%;
  @include mobile {
    padding: 10px;
  }
  button {
    outline: none;
    border: 2px solid #262626;
    border-radius: 4px;
    padding: 4px 20px;
    cursor: pointer;
    margin-right: 6px;
    &:active {
      transform: scale(0.9);
    }
  }
}
