@import "./common";
h1 {
  margin-top: 20px;
}
h2 {
  margin-bottom: 20px;
}
section {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  margin: auto;
  left: 0;
  right: 0;
  margin-top: 40px;

  @include mobile {
    flex-direction: column-reverse;
  }
}
.inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 60%;
}
.image-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 40%;
  margin-bottom: 20px;
  img {
    width: 300px;
  }
}

form {
  width: 70%;
  max-width: 500px;
  margin-bottom: 50px;
}
